
*
   box-sizing: border-box

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer
   margin: 0
   padding: 0

//Header
.upper-half-header
   padding: 0 5%
   display: flex
   justify-content: space-between

.title-logo
   text-transform: uppercase
   font-size: 1.7vw
   font-weight: 600

.motors-title-logo
   color: darkblue

.title-address
   h4
      text-transform: uppercase
      font-size: 1.25vw
      margin-bottom: 0

.title-address embed, .title-contact embed
   margin-right: 10px

.title-address embed
   width: 8%

.title-contact embed
   width: 11%

.number-phone
   h4
      margin-bottom: 0

.title-address, .title-contact
   display: flex
   align-items: center

.title-logo-bottom
   text-align: center

.number-phone
   display: flex
   flex-direction: column

.sales-text
   font-weight: 400

.social-icon embed
   margin-right: 15px
   pointer-events: none
   cursor: pointer

.social-icon
   display: flex
   flex-direction: row
   align-items: center
   justify-content: center

.bottom-half-header
   background-color: #ebedf0
   height: 40px

.bottom-half-header
   ul
      display: flex
      align-items: center
      justify-content: space-around
      list-style-type: none
      margin-bottom: 0
      li
         text-transform: uppercase


.dropbtn
   background-color: #4CAF50
   color: white
   padding: 16px
   font-size: 16px
   border: none


.dropdown
   position: relative
   display: inline-block


.dropdown-content
   display: none
   position: absolute
   background-color: #f1f1f1
   min-width: 160px
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
   z-index: 1


.dropdown-content a
   color: black
   padding: 12px 16px
   text-decoration: none
   display: block


.dropdown-content a:hover
   background-color: #ddd

.dropdown:hover .dropdown-content
   display: block

.dropdown:hover .dropbtn
   background-color: #3e8e41

//Footer
.footer-section
   font-family: 'Montserrat', sans-serif
   font-size: 1.4vw
   min-height: 217px
   padding: 0 2vw
   background: #EAEDF0
   color: #000000

.footer-section__title
   font-family: 'Open Sans', sans-serif
   font-size: 2.5vw
   text-decoration: none
   color: #000000

.footer-section__title:hover
   text-decoration: none
   color: #000000

.footer-section__title-accent
   color: #005EAA

.footer-section__links-title
   font-size: 2.1vw
   font-weight: 600
   padding-bottom: 0.6vw

.footer-section__soc-items
   list-style: none
   display: flex

.footer-section__soc-img
   height: 5vw

.footer-section__links-items
   list-style: none

.footer-section__links-item
   padding-bottom: 0.5vw

.footer-section__link
   color: #000000
   text-decoration: none

.footer-section__link:hover
   color: #000000
   text-decoration: none

@media (max-width: 767px)
   .footer-section__title
      font-size: 5vw
   .footer-section__links-title
      font-size: 3vw
   .footer-section
      font-size: 3vw
   .footer-section__soc-img
      height: 8vw

//Footer