@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p, ul, header, nav, section, footer {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh; }

.header {
  background: #ffffff; }

.upper-half-header {
  padding: 0.5% 0 1% 0;
  white-space: nowrap; }

.title-contact, .title-address {
  display: flex; }

.social-icon__items {
  display: flex;
  justify-content: space-around;
  list-style: none; }

.bottom-half-header__color {
  background: #EAEDF0; }

.title-logo {
  text-transform: uppercase;
  font-size: 1.625rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif; }

.motors-title-logo {
  color: #005EAA; }

.text-title-address {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.1rem; }

.mobile-open {
  display: none; }

.number-phone {
  margin-bottom: 0; }

.title-address, .title-contact {
  display: flex;
  align-items: center;
  float: left;
  padding-left: 0; }

.title-address embed, .title-contact embed {
  margin-right: 8px; }

.title-logo-bottom {
  margin: 0 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1.188rem;
  font-weight: 600; }

.number-phone {
  display: flex;
  flex-direction: column; }

.sales-text {
  font-weight: 400;
  font-size: 0.95rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 0.7rem; }

.sales-number {
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

.navbar {
  padding: 0; }

.bottom-half-header__items {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;
  width: 87%;
  list-style: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 0.9rem; }

.bottom-half-header__item {
  display: flex;
  padding: 0.6%; }

.bottom-half-header__item:hover {
  background-color: #005EAA;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff; }

.bottom-half-header__item:hover {
  background-color: #005EAA;
  cursor: pointer; }
  .bottom-half-header__item:hover .bottom-half-header__link, .bottom-half-header__item:hover .fa-chevron-down {
    color: #ffffff; }
  .bottom-half-header__item:hover.active {
    background-color: #005EAA; }
    .bottom-half-header__item:hover.active .bottom-half-header__link {
      color: #ffffff; }
  .bottom-half-header__item:hover .bottom-half-header__link .bottom-half-header__link {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 0.9rem; }

.bottom-half-header__link:hover {
  text-decoration: none;
  color: #ffffff; }

.bottom-half-header__link {
  display: flex;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #000000; }

.bottom-half-header__submenu {
  display: none; }

.mobile-section-under-header {
  display: none; }

@media (min-width: 1000px) and (max-width: 1250px) {
  .upper-half-header {
    padding: 10px 15px; }

  .title-logo {
    font-size: 1.3rem; }

  .titles-logo {
    padding-right: 5%;
    width: 52%; }

  .title-logo-bottom {
    font-size: 1rem; }

  .title-logo-bottom {
    margin: 0 1rem; }

  .title-address, .title-contact {
    max-width: 32%; }

  .flex-dropdown__chevron-dow {
    padding-top: 6px; } }
@media (min-width: 768px) and (max-width: 1000px) {
  .bottom-half-header__link {
    font-size: 1.1vw;
    text-align: center; }

  .title-address .text-title-address, .number-phone h4 {
    font-size: 0.6rem; }

  .upper-half-header, .footer-section {
    padding: 10px 0; }

  .title-logo {
    font-size: 1.2rem; }

  .titles-logo {
    padding-right: 2%;
    max-width: 33%; }

  .title-logo-bottom, .sales-number {
    font-size: 0.7rem; }

  .title-logo-bottom {
    margin: 0 0.3rem; }

  .title-address {
    margin: 0; }

  .social-icon {
    justify-content: flex-start;
    padding-left: 2%; }
    .social-icon ul a {
      margin-right: 5px; }
    .social-icon .flex-dropdown__chevron-dow {
      padding-top: 6px; } }
@media (min-width: 900px) and (max-width: 1000px) {
  .bottom-half-header__link {
    font-size: 1vw; } }
@media (min-width: 1000px) and (max-width: 1112px) {
  .bottom-half-header__link, .title-address .text-title-address, .number-phone h4 {
    font-size: 0.75rem; } }
@media (max-width: 767px) {
  .bottom-half-header__color {
    background: #ffffff; }

  .upper-half-header {
    padding: 0;
    padding-top: 2%; }

  .title-address, .title-contact, .social-icon {
    display: none; }

  .titles-logo {
    padding-right: 0;
    white-space: nowrap; }

  .title-logo {
    font-size: 27px;
    line-height: 21px; }

  .title-logo-bottom {
    margin: 0;
    font-size: 19px; }

  .mobile-open {
    display: block;
    padding-top: 0.4rem; }
    .mobile-open object {
      pointer-events: none;
      cursor: pointer; }
      .mobile-open object:last-child {
        width: 30px;
        display: none; }

  .mobile-section-under-header {
    display: flex;
    align-items: center;
    background: black;
    min-height: 65px; }
    .mobile-section-under-header .contact-text {
      font-size: 18px;
      line-height: 28px;
      font-weight: 300;
      font-family: "Open Sans", sans-serif; }
    .mobile-section-under-header .sales-number, .mobile-section-under-header .contact-text {
      color: #ffffff;
      margin-left: 8px; }
    .mobile-section-under-header .sales-number {
      font-size: 1.1rem; }
    .mobile-section-under-header embed {
      width: 9%; }

  .bottom-half-header {
    height: auto;
    display: none;
    background: #ffffff; }

  .bottom-half-header-menu-color {
    background: #ffffff; }

  .bottom-half-header__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }

  .bottom-half-header__item {
    height: auto;
    padding: 6px; }
    .bottom-half-header__item:first-child {
      margin-left: 0; }

  .bottom-half-header__link {
    font-size: 21px;
    text-transform: capitalize;
    color: #363636;
    font-weight: 500;
    font-family: "Open Sans", sans-serif; }

  .flex-dropdown__chevron-dow {
    padding: 0.6rem 0 0 0.4rem; }

  .bottom-half-header__item:last-child {
    margin-bottom: 0.5rem; } }
@media only screen and (max-width: 410px) {
  .title-logo {
    font-size: 23px; }

  .title-logo-bottom {
    font-size: 18px; } }
@media only screen and (max-width: 320px) {
  .upper-half-header {
    padding: 0;
    padding-top: 4%; }

  .title-logo {
    font-size: 19px; }

  .title-logo-bottom {
    font-size: 15px; }

  .bottom-half-header__items {
    padding-left: 0.4rem; }

  .mobile-section-under-header embed {
    width: 11%; } }
.footer-section {
  font-family: "Montserrat", sans-serif;
  min-height: 217px;
  width: 100%;
  padding: 30px 15px;
  background: #EAEDF0;
  color: #000000; }

.footer-section__row {
  padding-left: 0;
  padding-right: 0; }

.footer-section__title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  text-decoration: none;
  color: #000000; }

.footer-section__title:hover {
  text-decoration: none;
  color: #000000; }

.footer-section__title-accent {
  color: #005EAA; }

.footer-section__links-title {
  font-size: 1.35rem;
  font-weight: 600;
  padding-bottom: 13px;
  padding-top: 7px; }

.footer-section__soc-items {
  list-style: none;
  display: flex;
  padding-top: 1rem; }

.footer-section__soc-item {
  padding-right: 25px; }

.footer-section__soc-item:last-child {
  padding-right: 0; }

.footer-section__soc-img {
  height: 100%; }

.footer-section__links-items {
  list-style: none; }

.footer-section__links-item {
  padding-bottom: 6px; }

.footer-section__links-item:last-child {
  padding-bottom: 0; }

.footer-section__link {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  font-weight: 400; }

.footer-section__link:hover {
  color: #000000;
  text-decoration: none; }

.footer-section__description {
  font-size: 1rem;
  line-height: 1.7; }

@media screen and (max-width: 1099px) and (min-width: 992px) {
  .footer-section__title {
    font-size: 2.1rem; }

  .footer-section__soc-item {
    padding-right: 25px; } }
@media screen and (max-width: 991px) and (min-width: 769px) {
  .footer-section__description {
    padding-top: 24px;
    padding-bottom: 44px; } }
@media (max-width: 768px) {
  .footer-section {
    padding-top: 20px;
    padding-left: 14px;
    padding-right: 14px; }

  .footer-section__title {
    font-size: 32px;
    padding-bottom: 18px; }

  .footer-section__links-title {
    font-size: 22px;
    padding-bottom: 22px;
    padding-top: 0; }

  .footer-section__soc-items {
    padding-top: 11px; }

  .footer-section__soc-item {
    padding-right: 24px; }

  .footer-section__soc-img {
    height: 59px; }

  .footer-section__description {
    padding-top: 24px;
    padding-bottom: 44px; } }
@media only screen and (max-width: 410px) {
  .footer-section__title {
    font-size: 25px; }

  .footer-section__soc-img {
    height: 64%; }

  .footer-section__description {
    padding-top: 0;
    padding-bottom: 24px; }

  .footer-section__links-title {
    font-size: 20px; }

  .footer-section__link {
    font-size: 1.2rem; } }
@media only screen and (max-width: 320px) {
  .footer-section__title {
    font-size: 24px; }

  .footer-section__soc-img {
    height: 70%; }

  .footer-section__soc-item {
    padding-right: 14px; }

  .footer-section__description {
    padding-top: 0;
    padding-bottom: 34px; } }
.section__title-blue {
  font-family: "Montserrat", sans-serif;
  min-height: 128px;
  width: 100%;
  background: #005EAA;
  color: #FFFFFF;
  padding: 5px 0 0 16px;
  margin-top: 18px; }

.section__title-blue-container {
  padding-left: 60px; }

.title-blue {
  font-weight: bold;
  font-size: 1.625rem;
  padding-bottom: 8px; }

.descripton-blue {
  font-size: 0.75rem; }

.descripton-blue {
  font-size: 0.75rem; }

.accordion__wrapper {
  font-family: "Montserrat", sans-serif;
  margin: 30px auto;
  margin-top: 21px; }

.accordion {
  padding: 0 3.1rem;
  margin-bottom: 5rem; }

.accordion > .card .card-header {
  padding: 0 0; }

.accordion__button {
  font-size: 18px; }

.accordion__title {
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem; }

.accordion__down-icon {
  transform: rotate(0deg); }

.accordion__up-icon {
  transform: rotate(180deg); }

.accordion > .card {
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 0; }

.accordion .card-body {
  font-family: "Open Sans", sans-serif;
  background: #FFFFFF;
  font-size: 15px;
  padding: 20px 32px;
  border-top: 1px solid #CCCCCC; }

.accordion__card-items {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0; }

.accordion__card-items li {
  padding-bottom: 6px; }

.accordion__card-items li:last-child {
  padding-bottom: 0; }

.card-header {
  padding-right: 21px;
  background: #F5F5F5; }

@media only screen and (max-width: 767px) {
  .section__title-blue {
    padding-bottom: 31px;
    margin-top: 0; }

  .section__title-blue .container, .accordion__wrapper .container {
    padding: 0;
    max-width: 100%; }

  .title-blue {
    font-size: 26px; }

  .section__title-blue-container {
    padding-left: 0; }

  .descripton-blue {
    font-size: 14px; }

  .accordion__wrapper {
    margin-top: 10px; }

  .accordion {
    padding: 0;
    margin-bottom: 0; }

  .accordion__button {
    padding-left: 0;
    font-size: 18px;
    text-align: left; }

  .accordion .card-body {
    font-size: 15px;
    padding-left: 18px; }

  .card-header {
    padding: 11px 18px; } }
@media only screen and (max-width: 390px) {
  .title-blue {
    font-size: 1.35rem; }

  .descripton-blue {
    font-size: 0.8rem; }

  .accordion__button {
    font-size: 15px; }

  .accordion__title img {
    height: 21px;
    margin-top: 8px; }

  .accordion .card-body {
    font-size: 14px; } }
@media only screen and (max-width: 320px) {
  .title-blue {
    font-size: 1.2rem; }

  .descripton-blue {
    font-size: 0.7rem; }

  .accordion__button {
    font-size: 12px; }

  .accordion .card-body {
    font-size: 12px; } }
#accordion.cards-serch-results {
  width: 22%;
  margin-top: 30px; }
  #accordion.cards-serch-results .card {
    border: 1px solid #CCCCCC;
    border-radius: 0rem;
    border-bottom: 0;
    border-top: 0; }
    #accordion.cards-serch-results .card:first-child {
      border-top: 1px solid #CCCCCC; }
    #accordion.cards-serch-results .card .card-header {
      padding: 7px 10px;
      background-color: #fff;
      display: flex;
      justify-content: space-between; }
      #accordion.cards-serch-results .card .card-header h5 .btn {
        font-family: "Open Sans", sans-serif;
        color: #232323;
        font-weight: 600;
        padding: 0;
        font-size: 0.9rem; }
        #accordion.cards-serch-results .card .card-header h5 .btn:hover {
          text-decoration: none; }
    #accordion.cards-serch-results .card .card-body {
      border-bottom: 1px solid #CCCCCC; }

.title-block-used-cars {
  font-weight: 500; }

/*# sourceMappingURL=style.css.map */
